
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.container{
    width: 1070px;
    height: 3500px;
    margin: 0 auto;
    background-color: white;
}

ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.container>.list li{
    width: 100px;
    height: 60px;
    color: #000;
    float: left;
    line-height: 60px;
}
.container>.list a{
    color: #0077cc;
}
.container>.list a:link{
    text-decoration: none;
}
.container>.list a:hover{
    text-decoration: underline;
    border-bottom: 1px #0077cc;
    color: #023681;
}

.container>.list .icon{
    position:relative;
    left: 30px;
}

.leftcontainer{
    width: 257px;
    height: 3500px;
    /*border: 1px solid red;*/
    position: absolute;
    /*top: 240px;*/
    margin-top: 50px;
}

.leftcontainer>.one{
    width: 256px;
    height: 143px;
    position: absolute;
    background-color: #e9f0fa;
}

.leftcontainer>.one button{
    width: 160px;
    height: 38px;
    border: solid 2px white;
    outline: none;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #4a98d7;
    position: absolute;
    cursor: pointer;
}

.leftcontainer>.one>.onebutton1{
    left: 50px;
    top: 20px;
    color: white;
}

.leftcontainer>.one>.onebutton1:hover{
    background-color: blue;
}

.leftcontainer>.one>.onebutton2{
    left: 50px;
    top: 68px;
    background: rgba(255, 255, 255, 0.7);
    color: #4a98d7;
    font-size: 10px;
}

.leftcontainer>.one>.onebutton2:hover{
    background-color: white;
    color: black;
}

.leftcontainer>.one> p{
    width: 100%;
    color: gray;
    position: absolute;
    bottom: 0px;
    font-size: 13px;
    text-align: center;
}

.leftcontainer>.two{
    width: 256px;
    height: 40px;
    position: absolute;
    background-color: #e9f0fa;
    top: 153px;
    text-align: center;
    line-height: 40px;
    color: #547d46;
}
.leftcontainer>.three{
    width: 256px;
    height: 432px;
    position: absolute;
    background-color: #ffd2a2;
    top: 203px;
    line-height: 40px;
    color: #547d46;
}

.leftcontainer>.three>.header{
    width: 236px;
    height: 40px;
    margin: 3px auto;
    background-color: #febb04;
    text-align: left;
    padding-left: 5px;
    font-size: 20px;
}
.leftcontainer>.three>.span1{
    position: absolute;
    top: 65px;
    left: 10px;

}

.leftcontainer>.three>.text1{
    position: absolute;
    width: 236px;
    height: 30px;
    margin: auto;
    top: 75px;
    left: 10px;
}
.leftcontainer>.three input{
    border: none;
    outline: none;
}

.leftcontainer>.three>.span2{
    position: absolute;
    top: 115px;
    left: 10px;
}

.leftcontainer>.three>.indate{
    position: absolute;
    width: 236px;
    height: 30px;
    margin: auto;
    top: 145px;
    left: 10px;
    background-color: white;
}

.leftcontainer>.three>.indate>.icon-rili,.leftcontainer>.three>.outdate>.icon-rili{
    position: absolute;
    top: 0px;
    left: 2px;
    font-size: 25px;
    cursor: pointer;
}
.leftcontainer>.three>.indate>.icon-iconfonticonfonti2,
.leftcontainer>.three>.outdate>.icon-iconfonticonfonti2{
    right: 2px;
    position: absolute;
    top: 5px;
    font-size: 20px;
    cursor: pointer;
}

.leftcontainer>.three>.span3{
    position: absolute;
    top: 185px;
    left: 10px;
}

.leftcontainer>.three>.outdate{
    position: absolute;
    width: 236px;
    height: 30px;
    margin: auto;
    top: 215px;
    left: 10px;
    background-color: white;
}

.leftcontainer .three input{
    width: 136px;
    height: 26px;
    position: absolute;
    line-height: 30px;
    top: 2px;
    left: 30px;
    border: none;
    outline: none;
}

.leftcontainer>.three>.adultnum{
    position: absolute;
    width: 236px;
    height: 30px;
    left: 10px;
    top: 260px;
    background-color: white;
    cursor: pointer;
}
.leftcontainer>.three>.adultnum span{
    position: absolute;
    left: 3px;
    line-height: 30px;
}
.leftcontainer>.three>.adultnum>.icon-iconfonticonfonti2{
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 20px;
}

.leftcontainer>.three>.childnum{
    position: absolute;
    width: 115px;
    height: 30px;
    left: 10px;
    top: 300px;
    background-color: white;
    cursor: pointer;
}
.leftcontainer>.three>.childnum span{
    position: absolute;
    left: 3px;
    line-height: 30px;
}
.leftcontainer>.three>.childnum>.icon-iconfonticonfonti2{
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 20px;
}


.leftcontainer>.three>.roomnum{
    position: absolute;
    width: 115px;
    height: 30px;
    left: 131px;
    top: 300px;
    background-color: white;
    cursor: pointer;
}
.leftcontainer>.three>.roomnum span{
    position: absolute;
    left: 3px;
    line-height: 30px;
}
.leftcontainer>.three>.roomnum>.icon-iconfonticonfonti2{
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 20px;
}

.leftcontainer>.three>.checkbox1{
    width: 15px;
    height: 15px;
    position: absolute;
    top: 340px;
    left: 10px;
}

.leftcontainer>.three>.span4{
    width: 80px;
    height: 30px;
    position: absolute;
    top: 330px;
    left: 35px;

}
.leftcontainer>.three>.icon-wenhao-fill{
    position: absolute;
    top: 343px;
    left: 105px;
}
.leftcontainer>.three> button{
    width: 160px;
    height: 38px;
    border: none;
    outline: none;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #4a98d7;
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    color: white;
    font-size: 20px;
    line-height: 38px;
    border-radius: 5px;
}
.leftcontainer>.three> button:hover{
    background-color: #023681;
}

.leftcontainer>.four{
    width: 256px;
    height: 40px;
    position: absolute;
    background-color: #f1f4f8;
    top: 645px;
    line-height: 40px;
    color: #393939;
}


.leftcontainer>.four>.icon-yanjing{
    width: 30px;
    height: 50px;
    position: absolute;
    top: -5px;
    left: 10px;
    color: #0077cc;
}
.leftcontainer>.four> span{
    position: absolute;
    left: 50px;
}

.leftcontainer>.five{
    width:256px;
    height: 150px;
    background: url(https://api.mapbox.cn/styles/v1/mapbox/streets-zh-v1/static/113.28672141,23.13721281,13/264x150?access_token=pk.eyJ1IjoibWFwYm94LWJvb2tpbmciLCJhIjoiY2ltaDZjZjh4MDAwcXp3bHh3cm54N3QxMSJ9.NrW3zk0qHvEfTKUEhMy80g);
    position: absolute;
    top:695px;
}
.leftcontainer>.five>.icon-dizhi{
    width: 50px;
    height: 50px;
    position: absolute;
    top:20px;
    left: 100px;
}

.leftcontainer>.five button{
    width: 160px;
    height: 38px;
    border: solid 2px white;
    outline: none;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #4a98d7;
    position: absolute;
    bottom: 30px;
    margin-left: 50px;
    cursor: pointer;
}

.leftcontainer>.five button:hover{
    background-color: #023681;
}

.leftcontainer>.six {
    width:256px;
    height: 150px;
    position: absolute;
    top:855px;
    border: solid 1px #0077cc;
    border-radius: 5px;
}

.leftcontainer>.six>.text{
    padding: 10px;
    padding-top: 5px;
    width: 236px;
    height: 30px;
    background-color: #e9f0fa;
    border-bottom: solid 1px #0077cc;
    font-size: 15px;
}
.leftcontainer>.six>.search{
    width: 256px;
    height: 50px;
    border-bottom: solid 1px #0077cc;
    position: absolute;
    top: 50px;
   	z-index: 1;
}

.leftcontainer>.six>.search>.icon-chuzuche{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    left: 10px;
}
.leftcontainer>.six>.search span{
    position: absolute;
    top: 10px;
    left: 33px;

}

.leftcontainer>.six>.search>.time{
    width: 40px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #e9f0fa;
    font-size: 10px;
    line-height: 30px;
}

.leftcontainer>.six>.search1{
    width: 256px;
    height: 50px;
    position: absolute;
    bottom: 0px;
}

.leftcontainer>.six>.search1>.icon-tingchechang1{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 15px;
    left: 10px;
}
.leftcontainer>.six>.search1 span{
    position: absolute;
    top: 15px;
    left: 33px;

}

.leftcontainer>.seven{
    width:256px;
    height: 100px;
    position: absolute;
    top:1020px;
    background-color:  #e9f0fa;
    border-radius: 5px;
}

.leftcontainer>.seven span{
    position: absolute;
    left: 30px;
    top: 10px;
}

.leftcontainer>.seven button{
    width: 196px;
    height: 35px;
    position: absolute;
    left: 30px;
    bottom: 10px;
    border: solid 1px #0077cc;
    color: #0077cc;
    cursor: pointer;
    background-color: #e9f0fa;
}

.leftcontainer>.seven button:hover{
    color: black;
    background-color: white;
}
.leftcontainer>.nearplace{
    width: 256px;
    height: 220px;
    background-color: #0077cc;
    position: absolute;
    top: 1130px;
    border: solid 1px #cce1ff;
    border-radius: 5px;
}

.leftcontainer>.nearplace li{
    width: 256px;
    height: 44px;
    list-style: none;
    background-color: white;
    text-align: left;
    border-bottom: solid 1px #cce1ff;
}

.leftcontainer>.nearplace li:first-child{
    background-color: #4a98d7;
    text-align: center;
    font-size: 18px;
    font-weight: 800;
    line-height: 44px;
}

.leftcontainer>.nearplace li:nth-child(2) span {
    position: absolute;
    left: 10px;
    line-height: 44px;
}
.leftcontainer>.nearplace li:nth-child(2) a{
    width: 45px;
    height: 20px;
    position: absolute;
    top: 56px;
    right: 10px;
    background-color: #547d46;
    font-size: 13px;
    text-align: center;
    border-radius: 5px;
}
.leftcontainer>.nearplace li:nth-child(3) span{
    position: absolute;
    left: 10px;
    line-height: 44px;
}


.leftcontainer>.nearplace li:nth-child(4) span{
    position: absolute;
    left: 10px;
    line-height: 44px;
}

.leftcontainer>.nearplace li:nth-child(3) a{
    width: 45px;
    height: 20px;
    position: absolute;
    top: 100px;
    right: 10px;
    background-color: #547d46;
    font-size: 13px;
    text-align: center;
    border-radius: 5px;
}
.leftcontainer>.nearplace li:nth-child(4) a{
    width: 45px;
    height: 20px;
    position: absolute;
    top: 144px;
    right: 10px;
    background-color: #547d46;
    font-size: 13px;
    text-align: center;
    border-radius: 5px;
}



.leftcontainer>.nearplace li:nth-child(5) a{
    width: 45px;
    height: 20px;
    position: absolute;
    top: 188px;
    right: 10px;
    background-color: #547d46;
    font-size: 13px;
    text-align: center;
    border-radius: 5px;
}
.leftcontainer>.nearplace li:nth-child(5) span{
    position: absolute;
    left: 10px;
    line-height: 44px;
}


.midd{
    width: 784px;
    height: 3500px;
    position: relative;
    left: 280px;
    top: 50px;
}

.midd a{
    position: absolute;
    top: 0px;
    padding: 10px;
    background-color: #e9f0fa;
    color: #0077cc;
    text-align: center;
    cursor: pointer;
}

.midd a:hover {
    color: #170000;
}


.midd>.a1{
    width: 184px;
    height: 18px;
    left: 0px;
}
.midd>.a2{
    width: 65px;
    height: 18px;
    left: 205px;
}
.midd>.a3{
    width: 115px;
    height: 18px;
    left: 291px;
}
.midd>.a4{
    width: 115px;
    height: 18px;
    left: 427px;
}
.midd>.a5{
    width: 201px;
    height: 18px;
    left: 563px;
}
.midd hr{
    position: absolute;
    top: 30px;
    background-color: #023681;
    width: 782px;
    height: 0.3px;
}

.midd>.header{
    width: 100%;
    height: 73px;
    position: absolute;
    top: 41px;
}
.midd>.header>.span1{
    width: auto;
    height: 46px;
    font-size: 19px;
    line-height: 46px;
    position: absolute;
    text-align: left;
    /*border: 1px solid red;*/
}
.midd>.header>.span2{
    width: 60px;
    height: 30px;
    font-size: 17px;
    line-height: 30px;
    color:#FFB930;
    position: absolute;
    left: 195px;
    top: 9px;
    text-align: left;
}
.midd>.header>.pointer{
    width: 60px;
    height: 20px;
    position: absolute;
    top: 12px;
    left: 180px;
    list-style: none;

}
.midd>.header>.pointer li{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 1px;
    padding: 0px;
    background-color: #feba02;
    float: left;

}

.midd>.header>.icon-zan{
    width: 25px;
    height: 25px;
    position: absolute;
    left: 250px;
    top: 10px;
}

.midd>.header>.double{
    width: 100px;
    height: 20px;
    background-color: #e9f0fa;
    position: absolute;
    left: 290px;
    top: 10px;
    border-radius: 6px;
}

.midd>.header>.double span{
    font-size: 12px;
}

.midd>.header>.bus{
    width: 70px;
    height: 20px;
    background-color: #e9f0fa;
    position: absolute;
    left: 410px;
    top: 10px;
    border-radius: 6px;
}

.midd>.header>.bus span{
    font-size: 12px;
}

.midd>.header>.nothing{
    width: 60px;
    height: 20px;
    background-color: #e9f0fa;
    position: absolute;
    left: 500px;
    top: 10px;
    border-radius: 6px;
}
.midd>.header>.nothing span{
    font-size: 12px;
}

.midd>.header button{
    width: 100px;
    height: 30px;
    border: solid 2px white;
    background-color: #0077cc;
    color: white;
    position: absolute;
    right: 100px;
    top: 6px;
    border-radius: 2px;
    cursor: pointer;
}
.midd>.header button:hover{
    background-color: blue;
}
.midd>.header>.love{
    width: 30px;
    height: 30px;
    background-color: #0077cc;
    border-radius: 50%;
    position: absolute;
    right: 60px;
    top: 6px;
}
.midd>.header>.love:hover,.midd>.header>.share:hover{
	cursor:pointer;
}

.midd>.header>.share{
    width: 30px;
    height: 30px;
    background-color: #0077cc;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: 6px;
}

.midd>.header>.love>.icon-aixin,.midd>.header>.share>.icon-fenxiang{
    position: absolute;
    top: 7px;
    left: 7px;
}
.midd>.header>.foot{
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0px;
}
.midd>.header>.foot>.icon-dizhi{
    width: 30px;
    height: 30px;
}
.midd>.header>.foot span{
    position: absolute;
    left: 30px;
    bottom: 3px;
}

.midd>.header>.foot a{
    position: absolute;
    height: 20px;
    left: 400px;
    top: 8px;
    line-height: 20px;
    font-size: 13px;
    padding: 0px;
    background-color: white;
    text-decoration: underline;
}

.midd>.header>.foot a:hover{
    color: #feba02;
}
.midd>.header>.foot>.icon-duihaocheckmark17{
    color: #0077cc;
    position: absolute;
    right: 130px;
    top: 9px;
}
.midd>.header>.foot h6{
    position: absolute;
    top: 8px;
    right: 67px;
}

.midd>.slide{
    width: 100%;
    height: 460px;
    background-color: #547d46;
    position: absolute;
    top: 130px;
}

.midd>.slide>.pre{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 20px;
    top: 360px;
    border-radius: 50%;
    background-color: #e9f0fa;
    z-index: 2;
    cursor: pointer;
}
.midd>.slide>.pre>.icon-zuojiantou{
    position: absolute;
    top: 12px;
    left: 10px;
}

.midd>.slide>.next>.icon-zuojiantou-copy{
    position: absolute;
    top: 12px;
    left: 13px;

}

.midd>.slide>.next{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 20px;
    top: 360px;
    background-color: #e9f0fa;
    border-radius: 50%;
    z-index: 2;
    cursor: pointer;
}
.midd>.slide>.pre:hover,.midd>.slide>.next:hover{
    background-color: white;
}

.midd>.slide>.img1{
    width: 784px;
    height: 460px;
    position: absolute;
    background-size: 784px 460px;
}
.midd>.slide>.img1 img {
    width: 100%;
    height: 100%;
    z-index: 2;

}

.midd>.manyimg{
    width: 784px;
    height: 100px;
    position: absolute;
    background-color: white;
    top: 590px;
    list-style: none;
}

.midd>.manyimg li{
    width: 40px;
    float:left;
    height: 30px;
    border: 2px solid rgba(0,0,0,0);
    position: relative;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
}
.midd>.manyimg li:hover{
    font-weight: 100;
}

.midd>.manyimg img{
    width: 100%;
    height: 100%;
}
.midd>.speciality{
    width: 264px;
    height: 610px;
    padding: 10px;
    background-color: #e9f0fa;
    border: solid 1px #cce1ff;
    border-radius: 3px;
    position: absolute;
    right: 0px;
    top: 720px;
}

.speciality button:nth-child(2){
    width: 200px;
    height: 35px;
    position: absolute;
    bottom: 80px;
    right: 40px;
    border: none;
    background-color: #0077cc;
    cursor: pointer;
}
.speciality button:nth-child(2):hover{
    border: solid 2px white;
}
.speciality button:nth-child(3){
    width: 200px;
    height: 35px;
    position: absolute;
    bottom: 20px;
    right: 40px;
    border: none;
    background-color: #0077cc;
}
.speciality button:nth-child(3):hover{
    border: solid 2px white;
}
.midd>.text{
    width: 480px;
    height: 900px;
    position: absolute;
    top: 700px;
    left: 0px;
    color: #b65f01;
}
.midd>.text>.h3{
    font-size: 17px;
}
.midd>.text>.txt{
    width: 480px;
    height: 850px;
    position: absolute;
    left: 20px;
    top: 80px;
}

.midd>.tip{
    width: 480px;
    height: 100px;
    position: absolute;
    top: 1250px;
    border: solid 1px #547d46;
    background-color: #cce1ff;
    border-radius: 5px;
    overflow: hidden;

}

.midd>.tip li{
    list-style: none;
    width: 63px;
    height: 63px;
    border-radius: 50%;
    color: deeppink;
    float: left;
    position: relative;
    top: 20px;
    left: 6px;
    margin: 2px;
    text-align: center;
    line-height: 63px;
    font-size: 20px;
    display: none;
}

.midd>.tip>.renxin{
    width: 480px;
    height: 60px;
    position: absolute;
    line-height: 60px;
    font-size: 25px;
    top: 20px;
    text-align: center;
    cursor: pointer;
    display: block;
}

.calenderin{
    width: 600px;
    height: 300px;
    position: absolute;
    background-color: white;
    left: 0px;
    top: 170px;
    z-index: 4;
    display: none;
}

.calenderout{
    width: 600px;
    height: 300px;
    position: absolute;
    background-color: white;
    left: 0px;
    top: 250px;
    z-index: 4;
    display: none;
}

.calenderin>.header, .calenderout>.header{
    width: 600px;
    height: 40px;
    text-align: center;
    font-size: 16px;
    background-color: #cce1ff;
    position: absolute;
    color: #547d46;
}

.calenderin>.header>.icon-cha2 ,.calenderout>.header>.icon-cha2 {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 5px;
    color: white;
    cursor: pointer;
}

.calenderin>.cut .calenderout>.cut{
    width: 2px;
    height: 220px;
    background-color: #170000;
    position: absolute;
    top: 70px;
    left: 299px;
}

.calenderin>.bodyleft h3,.calenderout>.bodyleft h3{
    color: #0077cc;
    width: 300px;
    height: 40px;
    text-align: center;
    position: absolute;
    top: 30px;
    left: 0px;
}
.calenderin>.bodyleft>.pre,.calenderout>.bodyleft>.pre{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #e9f0fa;
    color: #0077cc;
    position: absolute;
    top: 50px;
    left: 10px;
    font-size: 23px;
    font-weight: 700;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}

.calenderin>.bodyleft ul,.calenderout>.bodyleft ul{
    width: 300px;
    height: 250px;
    position: absolute;
    top: 90px;
}
.calenderin>.bodyleft li,.calenderout>.bodyleft li {
    float: left;
    width: 42px;
    height: 30px;
    text-align: center;
    color: black;
    cursor: pointer;
}

.calenderin>.bodyright h3,.calenderout>.bodyright h3{
    color: #0077cc;
    width: 300px;
    height: 40px;
    text-align: center;
    position: absolute;
    top: 30px;
    right: 0px;
}
.calenderin>.bodyright>.next , .calenderout>.bodyright>.next{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #e9f0fa;
    color: #0077cc;
    position: absolute;
    top: 50px;
    right: 10px;
    font-size: 23px;
    font-weight: 700;
    text-align: center;
    line-height: 30px;
    cursor: pointer;

}

.calenderin>.bodyright ul, .calenderout>.bodyright ul{
    width: 300px;
    height: 250px;
    position: absolute;
    top: 90px;
    right: -8px;
}

.calenderin>.bodyright li, .calenderout>.bodyright li{
    color: black;
    float: left;
    width: 42px;
    height: 30px;
    text-align: center;
    cursor: pointer;
}


.adultnumchoose{
    width: 195px;
    height: 500px;
    overflow: scroll;
    position: absolute;
    top: 290px;
    left: 50px;
    z-index: 5;
    background-color: white;
    display: none;
}

.adultnumchoose li{
    position: relative;
    top:-40px;
    width: 100%;
    height: 30px;
    list-style: none;
    color: #4a98d7;
    text-align: center;
    cursor: pointer;
}

.adultnumchoose li:hover{
    color: #023681;
}


.childnumchoose{
    width: 105px;
    height: 300px;
    overflow: scroll;
    position: absolute;
    top: 330px;
    left: 20px;
    z-index: 5;
    background-color: white;
    display: none;
}

.childnumchoose li{
    position: relative;
    top:-40px;
    width: 100%;
    height: 30px;
    list-style: none;
    color: #4a98d7;
    text-align: center;
    cursor: pointer;
}

.childnumchoose li:hover{
    color: #023681;
}


.roomnumchoose{
    width: 105px;
    height: 300px;
    overflow: scroll;
    position: absolute;
    top: 330px;
    left: 143px;
    z-index: 5;
    background-color: white;
    display: none;
}

.roomnumchoose li{
    position: relative;
    top:-40px;
    width: 100%;
    height: 30px;
    list-style: none;
    color: #4a98d7;
    text-align: center;
    cursor: pointer;
}

.roomnumchoose li:hover{
    color: #023681;
}



.midd>.order{
    width: 1080px;
    height: 500px;
    position: absolute;
    top: 1380px;
    left: -280px;
}

.order td /*设置表格文字左右和上下居中对齐*/
{
    vertical-align: middle;
    text-align: center;
    color: black;
}

.order th /*设置表格文字左右和上下居中对齐*/
{
    color: #0896FF;
}


.midd>.connectfoot{
    width: 1080px;
    height: 120px;
    position: absolute;
    border-bottom: solid 1px #4a98d7;
    border-top: solid 1px #4a98d7;
    top: 1915px;
    left: -280px;
    text-align: center;
}


.midd>.connectfoot h3{
   
    position: absolute;
    top:20px;
    left:440px
   
}
.midd>.connectfoot>.searchother{
    width: 70px;
    height: 40px;
    position: absolute;
    top: 50px;
    left: 500px;
    right: 30px;
    border-radius: 4px;
    border: solid 1px #4a98d7;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    color: #0077cc;
    font-size: 14px;
}

.midd>.connectfoot>.searchother:hover{
    color: #170000;
    border-color: #170000;
}



.CommentFoot{
    width: 1070px;
    height: 300px;
    background-color: #e8eff9;
    position: absolute;
    left: -285px;
    top: 2070px;
}
.CommentFoot>.span1{
    width: 870px;
    height: 50px;
    position: absolute;
    top: 50px;
    left: 100px;
    background-color: white;
    font-size: 19px;
    color: blue;
    letter-spacing:8px;
    text-indent : 20px;
    line-height:50px;
}


.CommentFoot>.span2{
    width: 870px;
    height: 130px;
    position: absolute;
    top: 120px;
    left: 100px;
    background-color: white;
    font-size: 16px;
    color: blue;
    letter-spacing:4px;
    text-indent : 20px;
    line-height: 40px;
}


.CommentFoot>.nickName{
    width: 76px;
    height: 40px;
    position: absolute;
    top: 57px;
    left: 33px;
    color: #005999;
    font-size: 25px;
}

.CommentFoot>.comment{
    width: 76px;
    height: 40px;
    position: absolute;
    top: 120px;
    left: 33px;
    color: #005999;
    font-size: 25px;
}

.CommentFoot>.fineComment{
    width: 176px;
    height: 40px;
    position: absolute;
    top: 10px;
    left: 493px;
    color: #005999;
    font-size: 25px;
}


.CommentFootCopy{
    width: 1070px;
    height: 300px;
    background-color: #e8eff9;
    position: absolute;
    left: -285px;
    top: 2080px;
    display:none;
}
.CommentFootCopy>.span1{
    width: 870px;
    height: 50px;
    position: absolute;
    top: 50px;
    left: 100px;
    background-color: white;
    font-size: 19px;
    color: blue;
    letter-spacing:8px;
    text-indent : 20px;
    line-height:50px;
}


.CommentFootCopy>.span2{
    width: 870px;
    height: 130px;
    position: absolute;
    top: 120px;
    left: 100px;
    background-color: white;
    font-size: 16px;
    color: blue;
    letter-spacing:4px;
    text-indent : 20px;
    line-height: 40px;
}


.CommentFootCopy>.nickName{
    width: 76px;
    height: 40px;
    position: absolute;
    top: 57px;
    left: 33px;
    color: #005999;
    font-size: 25px;
}

.CommentFootCopy>.comment{
    width: 76px;
    height: 40px;
    position: absolute;
    top: 120px;
    left: 33px;
    color: #005999;
    font-size: 25px;
}

.CommentFootCopy>.fineComment{
    width: 176px;
    height: 40px;
    position: absolute;
    top: 10px;
    left: 493px;
    color: #005999;
    font-size: 25px;
}


td{
	cursor: pointer
	
}

td:hover{
	
	color: blue;
	
}

/*右边评论*/


.CommentRightContainer{
    display: none;
    width: 1470px;
    height: 1000px;
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: black;
    opacity: 0.4;
    z-index: 5;
}



.concentContainer{
    display: none;
    width: 700px;
    height: 1500px;
    position: fixed;
    top: 0px;
    right: 0px;
    opacity: 1;
    background-color: white;
    z-index: 6;
    overflow: hidden;
}

.concentContainer>.hidden{
    width: 65px;
    height: 65px;
    background-color: black;
    position: absolute;
    top: 0px;
    left: 4px;
    border-radius: 50%;
    cursor: pointer;
}

.concentContainer>.hidden>.icon-cha2{
    width: 50px;
    height: 50px;
    color: white;
    position: absolute;
    top: -3px;
    left: -3px;
}

.concentContainer>.hidden:hover {
    background-color: yellow;
    color: yellow;
}

.concentContainer>.comment{
    width:600px;
    height: 550px;
    background-color: white;
    position: absolute;
    top:100px;
    left: 50px;
}

.concentContainer>.comment>.comment1{
    width:600px;
    height: 250px;
    background-color: white;
    position: absolute;
    top:20px;

}
.concentContainer>.comment>.comment2{
    width:600px;
    height: 250px;
    background-color: white;
    position: absolute;
    top:250px;
}

.concentContainer>.comment>.comment1>.touxiang,.concentContainer>.comment>.comment2>.touxiang{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #0896FF;
    text-align: center;
    line-height: 40px;
    color:white;
}

.concentContainer>.comment>.comment1>.nickName,.concentContainer>.comment>.comment2>.nickName{
    width: 140px;
    height: 20px;
    position: absolute;
    left: 45px;
    top:2px;
    color: #000000;
}

.concentContainer>.comment>.comment1>.country,.concentContainer>.comment>.comment2>.country{
    width: 40px;
    height: 20px;
    position: absolute;
    left: 45px;
    top:22px;
    color: #000000;
}

.concentContainer>.comment>.comment1>.pingfeng,.concentContainer>.comment>.comment2>.pingfeng{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 10px;
    top:2px;
    background-color: #0896FF;
    border-radius: 3px;
    color: white;
    text-align: center;
    line-height: 40px;
}

.concentContainer>.comment>.comment1>.date,.concentContainer>.comment>.comment2>.date{
    width: 180px;
    height: 20px;
    position: absolute;
    left: 45px;
    top:44px;
    left: 0px;
    color: #A1A1A1;
    font-size: 13px;
}
.concentContainer>.comment>.comment1>.pinglun,.concentContainer>.comment>.comment2>.pinglun{
    width: 600px;
    height: 100px;
    position: absolute;
    top: 65px;
  	color: #7e7e7e;
  	
}

.concentContainer>.comment>.comment1>.pinglundate,.concentContainer>.comment>.comment2>.pinglundate{
    width: 180px;
    height: 30px;
    position: absolute;
    top: 169px;
    font-size: 13px;
    color: #A1A1A1;

}

.concentContainer>.comment>.comment1>.zang,.concentContainer>.comment>.comment2>.zang{
    width: 120px;
    height: 30px;
    position: absolute;
    top: 199px;
    font-size: 13px;
    color: black;
    cursor: pointer;
}


.concentContainer>.comment>.comment1>.xian,.concentContainer>.comment>.comment2>.xian{
    width: 600px;
    height: 3px;
    position: absolute;
    top: 219px;
    font-size: 13px;
    background-color: black;
}

.concentContainer>.comment>.comment1>.zang :hover,.concentContainer>.comment>.comment2>.zang :hover{
    color: blue;
}
/*分页*/
.concentContainer>.comment>.pageDisplay{
    width: 300px;
    height: 30px;
    position: absolute;
    bottom:20px;
    right: 0px;
    border: 1px solid;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}


.concentContainer>.comment>.pageDisplay li{
    float: left;
    margin-right: 5px;
    font-size:14px;
}
.concentContainer>.comment>.pageDisplay li:hover{
    color: #006BBc;
}

/*弹幕*/

/*输入框样式*/
#screenBulletText{
	width:300px;
	height:40px;
}


.tucao{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    background-color: #679699;
    position: fixed;
    right: 90px;
    bottom: 39px;
    cursor: pointer;
    z-index: 4;

}
.tucao:hover{
    background-color: #077812;
}

.screen_dibu{
    display: none;
    width: 100%;
    height: 800px;
    background-color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2;
}
.screen_container{
    display: none;
    position: fixed;
    width: 100%;
    height: 600px;
    top: 0px;
    left: 0px;
    background: #000;
    overflow: hidden;
    z-index: 3;
}
.screen_toolbar{
    display: none;
    position: fixed;
    width: 600px;
    margin: 20px auto;
    text-align: center;
    top: 600px;
    z-index: 3;
    right: 282px;
}

.screen_toolbar>.send{
	width:60px;
	height:40px
}
.screen_toolbar>.clear{
	width:80px;
	height:40px
}
.screen_toolbar>.send,.screen_toolbar>.clear{
    background-color: #679699;
    cursor:pointer;
}

.icon-laba{
    position: absolute;
    width: 30px;
    height: 30px;
    right: 6px;
    top: 7px;
    cursor:pointer;    
}
