/*����������ʽ��С��ʹ��ͼ����������������ڣ�*/
* {
    margin: 0px;
    padding: 0px;
}

.Map-Background {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 660px;
    margin: 40px auto;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
}
.Map-Background a {
    display: block;
    text-decoration: none;
    color: #0077CC;
}

.Map-Container {
    width: 1480px;
    height: 640px;
    margin: 10px auto;
}

/* *************************��ͼ************************ */
#container {
    height: 100%;
    float: right;
}

/* ***********************���������******************** */
#select1 {
    display: block;
    width: 280px;
    height: 100%;
    float: left;
    background-color: #F9F9F9;
    overflow: auto;
}

#select2 {
    display: none;
    width: 380px;
    height: 100%;
    float: left;
    background-color: #F9F9F9;
    overflow: auto;
}

.showMap {
    height: 100%;
    width: auto;
    float: right;
}

.slide {
    position: relative;
    display: block;
    z-index: 1;
    border-radius: 0px 5px 5px 0px;
    background-color: #F9F9F9;
    height: 30px;
    width: 30px;
    top: 10px;
}
.slide div{
    position: absolute;
    height: 30px;
    font-size: 20px;
    color: black;
    line-height: 30px;
    left: 5px;
}

/* �رհ�ť */
.close {
    position: absolute;
    display: block;
    z-index: 1;
    border-radius: 20px;
    background-color: black;
    font-weight: bold;
    height: 30px;
    width: 100px;
    line-height: 30px;
    text-align: center;
    margin-top: 30px;
    margin-left: 90%;
}

.close a {
    color: white;
}

/* ��һ��ɸѡ������ */
#searchBtn{
	display: block;
	background-color: yellow;
	border: 2px solid white;
	border-radius: 3px;
	color: blue;
	width: 80px;
	height: 30px;
	margin-right: 10px;
	margin-top: 10px;
	text-aline: center;
	float: left;
}
.nar-search {
    width: 250px;
    height: auto;
    margin: 10px auto;
    border: 1px solid #0077CC;
    border-radius: 5px;
}

.nar-search-top {
    height: 50px;
    width: 100%;
    line-height: 50px;
    border-radius: 5px 5px 0 0;
    box-sizing: border-box;
    padding-left: 5%;
    font-size: 20px;
    color: white;
    background-color: #0077CC;
}

#searchForm ul {
    list-style: none;
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;

}

#searchForm ul li {
    display: block;
    font-size: 14px;
    font-weight: normal;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    color: #0077CC;
}

#searchForm ul li:hover {
    background-color: #0077CC;
    color: white;
}

#searchForm ul li input[type="checkbox"] {
    -webkit-appearance: none;
    background: url(../res/images/map/checkbox-default.png);
    height: 12px;
    width: 12px;
}

#searchForm ul li input[type="checkbox"]:checked {
    background: url(../res/images/map/checkbox-ok.png);
}

#searchForm ul li input[type="checkbox"]:checked:hover {
    background: url(../res/images/map/checkbox-cencel.png);
}

#searchForm ul li span {
    margin-right: 7px;
    float: right;
}

/* �ڶ���ɸѡ������ */
.sort-order {
    position: relative;
    height: 40px;
    line-height: 40px;
    margin: 10px 10px 0px 10px;
}

.select-way {
    position: absolute;
    height: 100%;
    color: black;
    margin-left: 70px;
}

#select3 {
    position: absolute;
    height: 100%;
    width: 190px;
    border: 1px solid #D1D1D1;
    color: black;
    box-sizing: border-box;
    padding-left: 10px;
    margin-left: 150px;
    background-color: white;
}

.sort-order-content {
    float: left;
}

.icon-B-shangxiasanjiaojiantou {
    margin-right: 10px;
    float: right;
}

.dropdown-select {
    position: absolute;
    height: auto;
    width: 188px;
    border: 1px solid;
    border-color: #D1D1D1;
    display: none;
    z-index: 1;
    background-color: white;
    float: right;
    margin-left: 160px;
}

.dropdown-select a {
    height: 20px;
    line-height: 20px;
    padding: 5px;
    color: black;
}

.dropdown-select a:hover {
    background-color: #0077CC;
    color: white;
}

.hotel {
    width: 340px;
    height: 160px;
    margin: 10px;
    border: 1px solid #D8D8D8;
    border-radius: 5px;
    box-shadow: 0px 2px 8px #D8D8D8;
    background-color: white;
}

.hotel-img {
    height: 140px;
    width: 100px;
    margin-top: 10px;
    margin-left: 10px;
    bottom: 10px;
    float: left;
}

.hotel-img img {
    height: 100%;
    width: 100%;
}

.hotel-info {
    height: 140px;
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
}

.zan {
    color: #FEBA02;
    font-size: 10px;
    float: left;
    margin: 8px 1px;
}

.zan_1 {
    font-size: 15px;
    margin: 4px 2px;
}

.zan_2 {
    color: #FEBA02;
    font-size: 10px;
    margin: 0 1px;
}

.grade {
    font-size: 16px;
    font-weight: bold;
    color: black;
    margin-top: 30px;
}

.grade-num {
    font-size: 12px;
    color: #666666;
}

.free {
    font-size: 14px;
    font-weight: bold;
    color: #0AB21B;
}

.remain {
    font-size: 12px;
    font-weight: bold;
    color: #E21111;
}

.price {
    font-size: 20px;
    font-weight: bold;
    color: black;
    float: right;
    margin-top: 20px;
}

.hotel-nar {
    position: relative;
    height: 14px;
    width: 14px;
    margin-top: 65px;
    float: right;
    color: #D8D8D8;
    font-weight: bold;
}

/*地图上的信息窗口样式*/
.sContent-hotel-img {
    width: 140px;
    margin: auto;
}
.sContent-hotel-img img {
    height: auto;
    width: 100%;
}
.sContent-grade {
    font-size: 16px;
    font-weight: bold;
    margin-left: 20px;
    color: black;
    float: left;
}
.sContent-grade-num {
    font-size: 12px;
    color: #666666;
    float: right;
}
