/* ��¼/ע�� */
.LAR-Backgroundphone{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color:rgba(0,0,0,0.4);
    display: none;

}
.LAR-Containerphone{
    width: 500px;
    height: auto;
    margin: 100px auto;
    border: 1px solid #000000;
    background-color: white;
    padding-bottom: 20px;
    box-shadow: 0 0 20px #000000;
}
.LAR-ulphone{
    height: 46px;
    width: 500px;
    list-style: none; 	/* ȥ��ulǰ��ķ��� */
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.LAR-ulphone>.icon-cha2{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 430px;
    top: 104px;
    cursor: pointer;
}
.LAR-liphone{
    box-sizing: border-box;
    height: 46px;
    width: 50%;
    float:left; 		/* �����ű�ɺ��� */
    line-height: 46px;
    font-size: 14px;
    padding-left: 40px;
    font-weight: bold;
    color: #0077CC;
    background-color: #E9F0FA;
    text-align: center;
    letter-spacing: 80px;
}
.closeButtonphone{
    position: relative;
    width: 20px;
    height: 20px;
    top: -35px;
    left: 90%;
}
.LAR-contantphone{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
    height: auto;
    width: 416px;
}
/*span{*/
/*display:block;*/
/*margin-top: 15px;*/
/*}*/

#emailInputphone,#pwdInputphone,#emailInput2phone,#pwdInput2phone{
    height: 28px;
    width: 406px;
    margin-top: 5px;
    border: 1px solid #cccccc;
    padding-left: 12px;
}
#emailInputphone:focus,#pwdInputphone:focus,#emailInput2phone:focus,#pwdInput2phone:focus{
    box-shadow: 0 0 8px #4dff4d;
    border: 1px solid #4dff4d;
}
#emailInputphone:hover,#pwdInputphone:hover,#emailInput2phone:hover,#pwdInput2phone:hover {
    box-shadow: 0 0 8px #0077CC;
    border: 1px solid #0077CC;
}

#emailInputphone{
    height: 28px;
    width: 306px;
    margin-top: 5px;
    border: 1px solid #cccccc;
    padding-left: 12px;
}

.acquireMaphone{
    width: 90px;
    height: 35px;
    background-color: #e9f0fa;
    border: none;
    cursor: pointer;
}
.acquireMaphone:hover{
    background-color: #005999;
}
.LAR_formphone>.lar_aphone{
    font-size: 12px;
    color: #0077CC;
    text-decoration:none;
}
.sub-btnphone{
    display: block;
    border-radius: 8px;
    border: 0;
    height: 40px;
    width: 100%;
    line-height: 40px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #0077CC;
    margin-top: 10px;
    text-align: center;
    text-decoration:none;
}
.sub-btnphone:hover{
    background-color: #003580;
    color: white;
}
.span-linephone{
    font-size: 14px;
    display:block;
    margin: 25px auto;
}
.weicharLoginphone{
    display: block;
    border-radius: 8px;
    border: 1px solid;
    border-color: #0077CC;
    height: 50px;
    width: 130px;
    line-height: 50px;
    color: #0077CC;
    font-weight: bold;
    font-size: 16px;
    background-color: white;
    text-align: center;
    text-decoration:none;
}
.weicharLoginphone:hover{
    color: #383838;
}
.font_aphone{
    color: #0077CC;
    font-weight: bold;
}
.closeImgphone{
    width: 100%;
    height: 100%;
}
.login_loginphone{
    vertical-align:middle;
    width: 30px;
    height: auto;
    margin-right: 10px;
}
.span-tipphone{
    display: block;
    margin-top: 15px;
    margin-left: 40px;
    font-size: 14px;
}
.span-tip2phone{
    display: block;
    margin-top: 15px;
    margin-left: 40px;
    font-size: 11.3px;
}
.login_spanphone{
    display: block;
    margin-top: 15px;
    margin-bottom: 4px;
}
.login_spanphone .lar_aphone{
    color: #0077CC;
    font-weight: bold;
}
.lar_aphone:hover{
    color: #000000;
}